
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Bubblegum Sans', cursive;
}

h2{
  color: 	#ff4554;
  font-family: 'Henny Penny', cursive;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
}

h3{
  color: #00c3e3;
}

h4{
  color: #395B64;
  padding: 3% 30% 2%;
  word-spacing: 0.2rem;
}

p{
  font-family: 'Kite One', sans-serif;
}

.container-fluid{
  text-align: center;
  padding: 2rem 7rem;
}

/************************ Title Section ************************/

/* Navigation Bar */
.navbar {
  background-color: rgba(255,255,255,0.06);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  z-index: 10;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Brand Name */
.brand-name {
  color: 	#ff4554;
  font-family: 'Henny Penny', cursive;
  font-size: 3rem;
  margin-top: 1rem;
  text-align: left;
}

.brand-name span {
  color: #00c3e3;
}

/* Hamburger-menu */
.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #ff4554;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #ff4554;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

ul {
  list-style: none;
}

.link-icon{
  color: #ff4554;
  margin-right: 3rem;
  font-size: 2rem;
}

.link-icon:hover{
  transform: scale(1.3);
}

.nav-link{
  font-size: 2rem;
}

.links {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: #00c3e3;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: 	#ff4554;
}

.container.active .links {
  overflow: hidden;
  background-color: rgba(255,255,255,0.06);
  backdrop-filter: blur(30px);
  z-index: 2;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Background Carousel */
#introCarousel{
  position: relative;
  z-index: 0;
}

.carousel-text{
  position: absolute;
}

.carousel-h1{
  word-spacing: 0.5rem;
  padding: 0 10rem;
}

.carousel-h5{
  font-family: 'Kite One', sans-serif;
  padding: 0 10rem;
}

/************************ Shop by Age Section ************************/

#Shop-by-age{
  margin: 5rem 0;
  text-align: center;
}

.age-imgs{
  border-radius: 50%;
  width: 100%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 1.2rem;
}

/************************ Toys Section ************************/

#Toys{
  margin-top: 5%;
}

.top-div{
  margin: 0 15%;
  text-align: center;
}

.search-bar{
  width: 227px;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}

.review-stars{
  color: #00c3e3;
}

.page-item{
  margin: 0 7px;
}


/************************ Categories Section ************************/

#Categories{
  margin-top: 5%;
}

.category-col{
  margin: 3% 0;
  padding: 0 5%;
}

.fav-icon{
  color: #395B64;
  margin-bottom: 10px;
}

.category-text:hover{
  color: 	#ff4554;
}


/************************ Copyright Section ************************/

#Copyright{
  background-color: #232f3e;
}

.copyright-col{
  margin: 2rem 0;
  padding: 0 10%;
  text-align: left;
}

.white-color{
  color: #fff;
}

.white-color:hover{
  color: 	#ff4554;
}

.fa-icon{
  color: #fff;
  margin: 1rem 0.5rem;
}

.fa-icon:hover{
  color: 	#ff4554;
  transform: scale(1.7);
}

.copyright-text{
  color: #fff;
  font-family: 'Bubblegum Sans-light', cursive;
  text-align: center;
  margin: 1rem 0;
}

/************************ Responsiveness ************************/

/* Style for medium screens */
@media (max-width:1024px) {

  h4{
    padding: 3% 15% 2%;
  }

  /* Title Section */
  .brand-name {
    font-size: 2.5rem;
  }

  /* Shop by Age Section */
  .age-imgs {
    width: 50%;
    height: auto;
  }

  /* Categories Section */
  .category-gif {
    width: 50%;
    height: auto;
  }

}
